[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.21"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-allauth = "==0.38.0"
pillow = "*"
stripe = "==2.32.0"
django-debug-toolbar = "==1.11"
django-admin-honeypot = "*"
whitenoise = "==4.1.2"
gunicorn = "==19.9.0"
dj-database-url = "==0.5.0"

[requires]
python_version = "3.7"
